/*  FONTS ------------------------ */
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/red-hat-display-v21-latin-500.woff2") format("woff2");
}
/* red-hat-display-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/red-hat-display-v21-latin-900.woff2") format("woff2");
}

/*  RESET ------------------------ */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/*  VARIABLES -------------------- */
:root {
  /* colors */
  --clr-cyan-600: hsl(192, 37%, 48%);
  --clr-cyan-400: hsl(192, 54%, 64%);
  --clr-cyan-300: hsl(192, 90%, 77%);
  --clr-purple-600: hsl(268, 34%, 53%);
  --clr-purple-400: hsl(268, 55%, 71%);
  --clr-purple-300: hsl(268, 100%, 86%);
  --clr-slate-900: hsl(240, 21%, 20%);
  --clr-slate-600: hsl(240, 10%, 57%);
  --clr-slate-300: hsl(240, 18%, 85%);
  --clr-white: hsl(0, 0%, 98%);

  /* font size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-64: 4rem;

  /* fonts weight */
  --fw-medium: 500;
  --fw-black: 900;

  /* line height */
  --lh-110: 110%;
  --lh-150: 150%;

  /* letter space */
  --ls-4: 4px;

  /* Size image hero section */
  --size-img-hero: 10rem;
}

/* COMPONENTS ---------------------- */
/* digit number */
.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.digit__line {
  width: 1px;
  height: 80px;
  background-color: var(--clr-slate-300);
}
.digit__number {
  font-size: var(--fs-16);
  font-weight: var(--fw-black);
  background-color: var(--clr-white);
  color: var(--clr-slate-600);
  border: 1px solid var(--clr-slate-300);
  border-radius: 100%;
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
.btn {
  font-size: var(--fs-16);
  font-weight: var(--fw-black);
  line-height: 1.5;
  padding: 1rem 2.5rem;
  border-radius: 1.75rem;
  width: fit-content;
  color: var(--clr-white);
  background-color: var(--btn-bg);
  transition: background-color 300ms ease-in-out;
}
.btn span {
  color: var(--span-clr);
}
.btn:hover {
  background-color: var(--btn-hover);
}
.btn:focus-visible {
  outline: 3px solid black;
  box-shadow: 6px 10px 6px black;
  color: black;
}

/* SKIP LINK ---------------------------------- */
.skip-link {
  position: absolute;
  top: -50px;
  left: 6px;
  background-color: var(--clr-purple-600);
  outline: 3px solid black;
  box-shadow: 6px 10px 6px black;
  color: black;
  padding: 8px;
  text-decoration: none;
  border-radius: 0 0 4px 4px;
  z-index: 1000;
  transition: top 0.3s;
}
.skip-link:focus {
  top: 6px;
}

/*  GENERAL ---------------------- */
.wrapper {
  width: min(100%, 70rem);
  margin-inline: auto;
}

body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: var(--fw-medium);
  line-height: 1.1;
  background-color: var(--clr-white);
}

/* NAV */
.nav {
  height: 4.75rem;

  display: flex;
  justify-content: center;
  align-items: end;
}

/* HERO */
.hero {
  padding: 4rem 2rem 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--size-img-hero) auto;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 1.0625rem;
  grid-template-areas:
    "area-left   area-right"
    "area-middle area-middle";
}

/* images */
.hero__img-left,
.hero__img-right {
  height: var(--size-img-hero);
}
.hero__img-left {
  grid-area: area-left;
  justify-self: end;
}
.hero__img-right {
  grid-area: area-right;
}

.hero__text {
  grid-area: area-middle;
  text-align: center;
  max-width: 19.0625rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1.5rem;
}

/* title */
.hero__title {
  font-size: var(--fs-40);
  font-weight: var(--fw-black);
  color: var(--clr-slate-900);
}
/* description */
.hero__description {
  font-size: var(--fs-16);
  color: var(--clr-slate-600);
  line-height: 1.5;
}
/* buttons */
.hero__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* button Downlaod */
.hero__btn-d {
  --btn-bg: var(--clr-cyan-600);
}
.hero__btn-d span {
  --span-clr: var(--clr-cyan-300);
}
.hero__btn-d:hover {
  --btn-hover: var(--clr-cyan-400);
}
/* button What is it? */
.hero__btn-w {
  --btn-bg: var(--clr-purple-600);
}
.hero__btn-w:hover {
  --btn-hover: var(--clr-purple-400);
}

/* SERVICE */
.service {
  padding: 2rem 2rem 4rem 2rem;

  display: flex;
  flex-direction: column;
}
.service__img {
  padding-block: 4rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.service__img img {
  width: 9.21875rem;
  height: 9rem;
  border-radius: 0.5rem;
}
.service__text {
  font-size: var(--fs-16);
  color: var(--clr-slate-600);
  line-height: 1.5;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__subtitle {
  font-size: var(--fs-12);
  color: var(--clr-cyan-600);
  font-weight: var(--fw-black);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.service__title {
  max-width: 26.5625rem;
  font-size: var(--fs-32);
  font-weight: var(--fw-black);
  color: var(--clr-slate-900);
  line-height: 1.1;
  padding-block: 1rem 2rem;
}
.service__description {
  max-width: 31.25rem;
}

/* FOOTER */
.footer__digit {
  transform: translateY(1.75rem);
  margin-top: -1.75rem;
}
/* background image */
.footer__bg {
  width: 100%;
  background-image:
    linear-gradient(hsla(192, 37%, 48%, 0.9), hsla(192, 37%, 48%, 0.9)),
    url("./assets/desktop/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__text {
  padding: 4rem 2rem;
  color: var(--clr-white);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
/* title */
.footer__title {
  font-size: var(--fs-32);
  font-weight: var(--fw-black);
}
.footer__description {
  font-size: var(--fs-16);
  line-height: 1.5;
}
/* button Download */
.footer__btn {
  --btn-bg: var(--clr-purple-600);
}
.footer__btn span {
  --span-clr: var(--clr-purple-300);
}
.footer__btn:hover {
  --btn-hover: var(--clr-purple-400);
}

/*  RESPONSIBLE ---------------------- */

/* Tablet */
@media (min-width: 768px) {
  :root {
    --size-img-hero: 18.9375rem;
  }
  /* hero */
  .hero {
    padding: 4rem 2rem;
    row-gap: 4.5rem;
    column-gap: 2rem;
  }
  .hero__text {
    min-width: 28.125rem;
    gap: 2rem;
  }
  .hero__title {
    font-size: var(--fs-48);
  }
  .hero__btn {
    flex-direction: row;
    gap: 1.0625rem;
  }

  /* Service */
  .service__img {
    gap: 1.5rem;
  }
  .service__img img {
    width: 9.5rem;
    height: 10rem;
  }
  .service__subtitle {
    font-size: var(--fs-14);
  }
  .service__title {
    font-size: var(--fs-36);
  }

  /* FOOTER */
  .footer__text {
    max-width: 35rem;
  }
  .footer__title {
    font-size: var(--fs-36);
  }
}

/* Desktop */
@media (min-width: 1440px) {
  /* hero */
  .hero {
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 22.5rem;
    grid-template-areas: "area-left area-middle area-right";
  }

  .hero__img-right {
    align-self: end;
    padding-left: 5.9375rem;
  }
  .hero__img-left {
    padding-right: 5.9375rem;
  }

  .hero__text {
    align-self: center;
  }
  .hero__title {
    font-size: var(--fs-64);
  }
  .hero__description {
    font-size: var(--fs-16);
  }
  .hero__btn {
    gap: 1.0625rem;
  }

  /* Service */
  .service {
    padding-block: 3.5rem 4.5rem;
    padding-inline: 0;
  }
  .service__img {
    gap: 2rem;
  }
  .service__img img {
    width: 16rem;
    height: 16rem;
  }
  .service__subtitle {
    font-size: var(--fs-16);
  }
  .service__title {
    font-size: var(--fs-40);
  }
  .service__description {
    font-size: var(--fs-18);
    max-width: 34rem;
  }

  /* FOOTER */
  .footer__bg {
    justify-content: center;
    height: 19.5rem;
  }
  .footer__text {
    text-align: left;
    max-width: 70rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
  }
  .footer__title {
    font-size: var(--fs-40);
  }
  .footer__description {
    text-align: left;
    flex: 1 2 auto;
  }
  .footer__btn {
    flex: 0 0 auto;
    align-self: flex-start;
  }
}
