/*  FONTS ------------------------ */
/* red-hat-display-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/red-hat-display-v21-latin-500.woff2") format("woff2");
}
/* red-hat-display-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/red-hat-display-v21-latin-900.woff2") format("woff2");
}

/*  RESET ------------------------ */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/*  VARIABLES -------------------- */
:root {
  /* colors */
  --clr-cyan-600: hsl(192, 37%, 48%);
  --clr-cyan-400: hsl(192, 54%, 64%);
  --clr-cyan-300: hsl(192, 90%, 77%);
  --clr-purple-600: hsl(268, 34%, 53%);
  --clr-purple-400: hsl(268, 55%, 71%);
  --clr-purple-300: hsl(268, 100%, 86%);
  --clr-slate-900: hsl(240, 21%, 20%);
  --clr-slate-600: hsl(240, 10%, 57%);
  --clr-slate-300: hsl(240, 18%, 85%);
  --clr-white: hsl(0, 0%, 98%);

  /* buttons */
  --btn-purple: var(--clr-purple-600);
  --btn-cyan: var(--clr-cyan-600);
  /* buttons actif */
  --btn-purple-hover: var(--clr-purple-400);
  --btn-cyan-hover: var(--clr-cyan-400);

  /* font size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-64: 4rem;

  /* fonts weight */
  --fw-medium: 500;
  --fw-black: 900;

  /* line height */
  --lh-110: 110%;
  --lh-150: 150%;

  /* letter space */
  --ls-4: 4px;

  /* Size image hero section */
  --size-img-hero: 10rem;
}

/*  GENERAL ---------------------- */
.wrapper {
  /* width: min(calc(100% - 48px), calc(1120 / 16 * 1rem)); */
  width: min(100%, 70rem);
  margin-inline: auto;
}

body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  font-weight: var(--fw-medium);
  line-height: 1.1;
  background-color: var(--clr-white);
}

/* NAV */
.nav {
  border: 1px solid red;

  height: 4.75rem;

  display: flex;
  justify-content: center;
  align-items: end;
}

/* HERO */
.hero {
  border: 1px solid red;
  padding: 4rem 2rem 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: var(--size-img-hero); */
  grid-template-rows: var(--size-img-hero) 22.5rem;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 1.0625rem;
  grid-template-areas:
    "area-left   area-right"
    "area-middle area-middle";
}

/* images */
.hero__img-left,
.hero__img-right {
  height: var(--size-img-hero);
}
.hero__img-left {
  grid-area: area-left;
  justify-self: end;
}
.hero__img-right {
  grid-area: area-right;
}

.hero__text {
  grid-area: area-middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1.5rem;

  text-align: center;
  max-width: 19.0625rem;
}
/* title */
.hero__title {
  font-size: var(--fs-40);
  font-weight: var(--fw-black);
  color: var(--clr-slate-900);
}
/* description */
.hero__description {
  font-size: var(--fs-16);
  line-height: 1.5;
  color: var(--clr-slate-600);
}
/* buttons */
.hero__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero__btn-1,
.hero__btn-2 {
  font-size: var(--fs-16);
  line-height: 1.5;
  padding: 1rem 2.5rem;
  border-radius: 1.75rem;
  width: fit-content;
  color: var(--clr-white);
  transition: background-color 300ms ease-in-out;
}
.hero__btn-1 {
  background-color: var(--btn-cyan);
}
.hero__btn-1 span {
  color: var(--clr-cyan-300);
}
.hero__btn-1:hover {
  background-color: var(--btn-cyan-hover);
}
.hero__btn-2 {
  background-color: var(--btn-purple);
}
.hero__btn-2:hover {
  background-color: var(--btn-purple-hover);
  color: var(--clr-white);
}

/* Service */
.service {
  padding: 2rem 2rem 4rem 2rem;
  display: flex;

  flex-direction: column;
}
.service__number-wrapper {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.service__number::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  background-color: var(--clr-slate-300);
  top: -80px;
}
.service__number {
  position: relative;
  font-size: var(--fs-16);
  background-color: var(--clr-white);
  color: var(--clr-slate-600);
  border: 1px solid var(--clr-slate-300);
  border-radius: 100%;
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.service__img {
  padding-block: 4rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.service__img img {
  max-width: 9.21875rem;
  border-radius: 0.5rem;
}
.service__text {
  font-size: var(--fs-16);
  line-height: 1.5;
  color: var(--clr-slate-600);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__subtitle {
  font-size: var(--fs-12);
  color: var(--clr-cyan-600);
  font-weight: var(--fw-black);
  text-transform: uppercase;
  letter-spacing: 4px;
}
.service__title {
  max-width: 26.5625rem;
  font-size: var(--fs-32);
  font-weight: var(--fw-black);
  color: var(--clr-slate-900);
  line-height: 1.1;
  padding-block: 1rem 2rem;
}
.service__description {
  max-width: 31.25rem;
}

/*  RESPONSIBLE ---------------------- */

/* Tablet */
@media (min-width: 768px) {
  :root {
    --size-img-hero: 18.9375rem;
  }
  /* hero */
  .hero {
    padding: 4rem 2rem;

    row-gap: 4.5rem;
    column-gap: 2rem;
  }
  .hero__text {
    min-width: 28.125rem;
    gap: 2rem;
  }
  .hero__title {
    font-size: var(--fs-48);
  }
  .hero__btn {
    flex-direction: row;
    gap: 1.0625rem;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  :root {
    /* --size-img-hero: 18.9375rem; */
  }
  /* hero */
  .hero {
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 22.5rem;
    grid-template-areas: "area-left area-middle area-right";
  }

  .hero__img-right {
    align-self: end;
    padding-left: 95px;
  }
  .hero__img-left {
    padding-right: 95px;
  }

  .hero__text {
    align-self: center;
  }
  .hero__title {
    font-size: var(--fs-64);
  }
  .hero__description {
    font-size: var(--fs-16);
  }
  .hero__btn {
    gap: 1.0625rem;
  }
}
